body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DDD;
}

.form-login {
    flex-basis: 450px;
}

.form-login .card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}

.form-login .card-footer {
    display: flex;
    justify-content: center;
}